<a href="https://colab.research.google.com/github/parvvaresh/My-note-Books/blob/main/Email_Spam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import svm

In [5]:
data = pd.read_csv("/content/spam.csv")
data.head(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [9]:
feature_temp = data["v2"]
target = data["v1"]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(feature_temp, target, test_size = 0.2)

In [26]:
cv = CountVectorizer()
features = cv.fit_transform(X_train)
features

<4457x7763 sparse matrix of type '<class 'numpy.int64'>'
	with 59049 stored elements in Compressed Sparse Row format>

In [27]:
model = svm.SVC(kernel = "linear")
model.fit(features, y_train)

SVC(kernel='linear')

In [28]:
feature_test = cv.transform(X_test)

print(f" score of this model is {model.score(feature_test, y_test)}")

 score of this model is 0.9919282511210762