In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
path = "C:\\Users\Administrator\\Desktop\\My code\\my note books\\handling missing data\\Data Set\\catalog.csv"


data = pd.read_csv(path)

data.head(4)

,id,date,time,continent_code,country_name,country_code,state/province,population,city/town,distance,...,geolocation,hazard_type,landslide_type,landslide_size,trigger,storm_name,injuries,fatalities,source_name,source_link
0,34,3/2/07,Night,NaN,United States,US,Virginia,16000,Cherry Hill,3.40765,...,"(38.600900000000003, -77.268199999999993)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,NBC 4 news,http://www.nbc4.com/news/11186871/detail.html
1,42,3/22/07,NaN,NaN,United States,US,Ohio,17288,New Philadelphia,3.33522,...,"(40.517499999999998, -81.430499999999995)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Canton Rep.com,http://www.cantonrep.com/index.php?ID=345054&C...
2,56,4/6/07,NaN,NaN,United States,US,Pennsylvania,15930,Wilkinsburg,2.91977,...,"(40.4377, -79.915999999999997)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,The Pittsburgh Channel.com,https://web.archive.org/web/20080423132842/htt...
3,59,4/14/07,NaN,NaN,Canada,CA,Quebec,42786,Châteauguay,2.98682,...,"(45.322600000000001, -73.777100000000004)",Landslide,Riverbank collapse,Small,Rain,NaN,NaN,NaN,Le Soleil,http://www.hebdos.net/lsc/edition162007/articl...

In [38]:
missing_value = data.isnull().sum()
missing_value

id                         0
date                       3
time                    1064
continent_code          1529
country_name               0
country_code               0
state/province             1
population                 0
city/town                  4
distance                   1
location_description    1142
latitude                   1
longitude                  1
geolocation                1
hazard_type                0
landslide_type             1
landslide_size             1
trigger                    2
storm_name              1561
injuries                1178
fatalities               247
source_name              821
source_link              100
dtype: int64

In [13]:
total_value = np.product(data.shape)


total_missing = missing_value.sum()


print(f"total value : {total_value} , total missing value : {total_missing}")


print(f"percent of total value : {(total_missing / total_value) * 100}")

total value : 38939 , total missing value : 7658
percent of total value : 19.66665810626878

In [15]:
#remove all the row is null

data_not_null_rows = data.dropna()

data_not_null_rows

Empty DataFrame
Columns: [id, date, time, continent_code, country_name, country_code, state/province, population, city/town, distance, location_description, latitude, longitude, geolocation, hazard_type, landslide_type, landslide_size, trigger, storm_name, injuries, fatalities, source_name, source_link]
Index: []

[0 rows x 23 columns]

In [16]:
data_not_null_columns = data.dropna(axis = 1)

data_not_null_columns

        id   country_name country_code  population hazard_type
0       34  United States           US       16000   Landslide
1       42  United States           US       17288   Landslide
2       56  United States           US       15930   Landslide
3       59         Canada           CA       42786   Landslide
4       61  United States           US        6903   Landslide
...    ...            ...          ...         ...         ...
1688  7535  United States           US        1646   Landslide
1689  7537  United States           US       51400   Landslide
1690  7539  United States           US        2406   Landslide
1691  7540  United States           US        1048   Landslide
1692  7541  United States           US        2066   Landslide

[1693 rows x 5 columns]

In [29]:
print(f"Columns in original dataset:    number of rows  : {data.shape[0]} and number od columns : {data.shape[1]}")
print(f"Columns with na's dropped:  number of rows : {data_not_null_columns.shape[0]} and number od columns {data_not_null_columns.shape[1]}")
print(f"rows  with na's dropped:  number of rows : {data_not_null_rows.shape[0]} and number od columns : {data_not_null_rows.shape[1]}")

Columns in original dataset:    number of rows  : 1693 and number od columns : 23
Columns with na's dropped:  number of rows : 1693 and number od columns 5
rows  with na's dropped:  number of rows : 0 and number od columns : 23

In [30]:
#filining missing value atoumatcly 

back_up = data

#replave missing value to 0
back_up.fillna(0)

back_up.head(10)

,id,date,time,continent_code,country_name,country_code,state/province,population,city/town,distance,...,geolocation,hazard_type,landslide_type,landslide_size,trigger,storm_name,injuries,fatalities,source_name,source_link
0,34,3/2/07,Night,NaN,United States,US,Virginia,16000,Cherry Hill,3.40765,...,"(38.600900000000003, -77.268199999999993)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,NBC 4 news,http://www.nbc4.com/news/11186871/detail.html
1,42,3/22/07,NaN,NaN,United States,US,Ohio,17288,New Philadelphia,3.33522,...,"(40.517499999999998, -81.430499999999995)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Canton Rep.com,http://www.cantonrep.com/index.php?ID=345054&C...
2,56,4/6/07,NaN,NaN,United States,US,Pennsylvania,15930,Wilkinsburg,2.91977,...,"(40.4377, -79.915999999999997)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,The Pittsburgh Channel.com,https://web.archive.org/web/20080423132842/htt...
3,59,4/14/07,NaN,NaN,Canada,CA,Quebec,42786,Châteauguay,2.98682,...,"(45.322600000000001, -73.777100000000004)",Landslide,Riverbank collapse,Small,Rain,NaN,NaN,NaN,Le Soleil,http://www.hebdos.net/lsc/edition162007/articl...
4,61,4/15/07,NaN,NaN,United States,US,Kentucky,6903,Pikeville,5.66542,...,"(37.432499999999997, -82.493099999999998)",Landslide,Landslide,Small,Downpour,NaN,NaN,0.0,Matthew Crawford (KGS),NaN
5,64,4/20/07,NaN,NaN,United States,US,Kentucky,6903,Pikeville,0.23715,...,"(37.481400000000001, -82.518600000000006)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Applalachain news-express,http://www.news-expressky.com/articles/2007/04...
6,67,4/24/07,NaN,NaN,United States,US,South Dakota,2540,Dakota Dunes,2.48033,...,"(42.494100000000003, -96.457599999999999)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Sioux City Journnal,http://www.siouxcityjournal.com/articles/2007/...
7,77,5/21/07,NaN,SA,Colombia,CO,Risaralda,440118,Pereira,0.62022,...,"(4.8080999999999996, -75.694100000000006)",Landslide,Mudslide,Large,Rain,NaN,NaN,13.0,Reuters - AlertNet.org,http://www.reuters.com/news/video/videoStory?v...
8,105,6/27/07,NaN,SA,Ecuador,EC,Zamora-Chinchipe,15276,Zamora,0.47714,...,"(-4.0650000000000004, -78.950999999999993)",Landslide,Landslide,Medium,Downpour,NaN,NaN,NaN,Red Cross - Field reports,https://www-secure.ifrc.org/dmis/prepare/view_...
9,106,6/27/07,NaN,SA,Ecuador,EC,Loja,117796,Loja,0.35649,...,"(-3.99, -79.204999999999998)",Landslide,Landslide,Medium,Downpour,NaN,NaN,NaN,Red Cross - Field reports,https://www-secure.ifrc.org/dmis/prepare/view_...

In [63]:
count_zero = back_up['storm_name'].value_counts()

count_zero.head()

Tropical Storm Tomas       14
Hurricane Tomas            13
Tropical Cyclone Agatha    12
Manuel                      5
Ingrid                      5
Name: storm_name, dtype: int64

In [64]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the remaining na's with 0
data = data.fillna(method = 'bfill', axis = 0).fillna(0)

data

,id,date,time,continent_code,country_name,country_code,state/province,population,city/town,distance,...,geolocation,hazard_type,landslide_type,landslide_size,trigger,storm_name,injuries,fatalities,source_name,source_link
0,34,3/2/07,Night,SA,United States,US,Virginia,16000,Cherry Hill,3.40765,...,"(38.600900000000003, -77.268199999999993)",Landslide,Landslide,Small,Rain,Hurricane Dean,2.0,0.0,NBC 4 news,http://www.nbc4.com/news/11186871/detail.html
1,42,3/22/07,Night,SA,United States,US,Ohio,17288,New Philadelphia,3.33522,...,"(40.517499999999998, -81.430499999999995)",Landslide,Landslide,Small,Rain,Hurricane Dean,2.0,0.0,Canton Rep.com,http://www.cantonrep.com/index.php?ID=345054&C...
2,56,4/6/07,Night,SA,United States,US,Pennsylvania,15930,Wilkinsburg,2.91977,...,"(40.4377, -79.915999999999997)",Landslide,Landslide,Small,Rain,Hurricane Dean,2.0,0.0,The Pittsburgh Channel.com,https://web.archive.org/web/20080423132842/htt...
3,59,4/14/07,Night,SA,Canada,CA,Quebec,42786,Châteauguay,2.98682,...,"(45.322600000000001, -73.777100000000004)",Landslide,Riverbank collapse,Small,Rain,Hurricane Dean,2.0,0.0,Le Soleil,http://www.hebdos.net/lsc/edition162007/articl...
4,61,4/15/07,Night,SA,United States,US,Kentucky,6903,Pikeville,5.66542,...,"(37.432499999999997, -82.493099999999998)",Landslide,Landslide,Small,Downpour,Hurricane Dean,2.0,0.0,Matthew Crawford (KGS),http://www.news-expressky.com/articles/2007/04...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1688,7535,12/7/15,0:00,0,United States,US,North Carolina,1646,Tryon,7.80866,...,"(35.221899999999998, -82.322599999999994)",Landslide,Rockfall,Small,Unknown,0,0.0,0.0,Tryon Daily Bulletin,http://www.tryondailybulletin.com/2016/02/26/u...
1689,7537,2/22/16,0:00,0,United States,US,West Virginia,51400,Charleston,6.84721,...,"(38.398699999999998, -81.584800000000001)",Landslide,Mudslide,Small,Unknown,0,0.0,0.0,Charleston Gazette,http://www.wvgazettemail.com/news/20160222/us-...
1690,7539,2/23/16,21:06,0,United States,US,West Virginia,2406,Welch,14.19735,...,"(37.409599999999998, -81.4268)",Landslide,Landslide,Small,Rain,0,0.0,0.0,Bluefield Daily Telegraph,http://www.bdtonline.com/news/officials-cautio...
1691,7540,2/26/16,21:06,0,United States,US,West Virginia,1048,Athens,12.00678,...,"(37.501100000000001, -81.109300000000005)",Landslide,Rockfall,Small,Unknown,0,0.0,0.0,Bluefield Daily Telegraph,http://www.bdtonline.com/news/rockslide-snarls...
1692,7541,3/2/16,8:00,0,United States,US,Vermont,2066,Windsor,1.78429,...,"(43.4771, -72.406599999999997)",Landslide,Rockfall,Small,Unknown,0,0.0,0.0,Valley News,http://www.vnews.com/home/21353539-95/loose-ledge

In [66]:
missing_value = data.isnull().sum()

missing_value

id                      0
date                    0
time                    0
continent_code          0
country_name            0
country_code            0
state/province          0
population              0
city/town               0
distance                0
location_description    0
latitude                0
longitude               0
geolocation             0
hazard_type             0
landslide_type          0
landslide_size          0
trigger                 0
storm_name              0
injuries                0
fatalities              0
source_name             0
source_link             0
dtype: int64