In [2]:
!pip install fuzzywuzzy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [3]:
import pandas as pd
import numpy as np
import fuzzywuzzy
from fuzzywuzzy import process
import chardet

/usr/local/lib/python3.7/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [7]:
path = "/content/Pakistan Intellectual Capital - Computer Science - Ver 1.csv"
data = pd.read_csv(path, encoding='Windows-1252')
data.head()

,S#,Teacher Name,University Currently Teaching,Department,Province University Located,Designation,Terminal Degree,Graduated from,Country,Year,Area of Specialization/Research Interests,Other Information
0,1,Dr. Ihsan Ullah,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,NaN,France,NaN,"P2P Networks, Telecommunication Systems",NaN
1,2,Dr. Atiq Ahmed,University of Balochistan,Computer Science & IT,Balochistan,Associate Professor,PhD,NaN,France,NaN,"Wireless Networks, Telecommunication Systems, ...",NaN
2,3,Dr. Abdul Basit,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,Software Engineering & DBMS,NaN
3,4,Mr. Muhammad Khalid Badini,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,MS,NaN,NaN,NaN,Operating System & DBMS,On study leave
4,5,Dr. Waheed Noor,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,DBMS,NaN

In [11]:
# get all the unique values in the 'Country' column
Countries = data["Country"].unique()


# sort them alphabetically and then take a closer look
Countries.sort

Countries

array(['France', 'Thailand', nan, 'Italy', 'Pakistan', 'Germany',
       'Austria', 'Australia', 'UK', 'China', 'USA', 'South Korea',
       'Malaysia', 'Sweden', 'Canada', 'Norway', 'Ireland', 'New Zealand',
       'Urbana', 'Portugal', 'Russian Federation', 'Finland', ' USA',
       'Netherland', ' Germany', ' Sweden', ' New Zealand', 'Greece',
       'Turkey', 'Macau', 'Singapore', 'Spain', 'Denmark', 'Japan',
       'HongKong', 'Saudi Arabia', 'Mauritius', 'Scotland'], dtype=object)

In [14]:
#convert to lower case
data["Country"] =  data["Country"].str.lower()
#remover whilespace
data["Country"] =  data["Country"].str.strip()

In [24]:
# get the top 10 closest matches to "south korea"

mathches_south_korea = fuzzywuzzy.process.extract("south korea", Countries, limit = 10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)


mathches_south_korea

[('South Korea', 100),
 ('Saudi Arabia', 43),
 ('Norway', 35),
 ('Ireland', 33),
 ('Portugal', 32),
 ('Singapore', 30),
 ('Netherland', 29),
 ('Macau', 25),
 ('France', 24),
 ('Urbana', 24)]

In [20]:
def replace_matches_in_column(df, column, string_to_match, min_ratio = 47):
  strings = df[column].unique()
  matches = fuzzywuzzy.process.extract(string_to_match, strings, limit = 10,  scorer=fuzzywuzzy.fuzz.token_sort_ratio)
  close_matches = []
  for elements in matches:
    if elements[1] > min_ratio:
      close_matches.append(elements[0])
  
  row_with_matches = df[column].isin(close_matches)
  df.loc[row_with_matches, column] = string_to_match

  print("All Done")

In [21]:
replace_matches_in_column(df=data, column='Country', string_to_match="south korea")

All Done

In [22]:
coutires = data['Country'].unique()

coutires.sort

coutires

array(['france', 'thailand', nan, 'italy', 'pakistan', 'germany',
       'austria', 'australia', 'uk', 'china', 'usa', 'south korea',
       'malaysia', 'sweden', 'canada', 'norway', 'ireland', 'new zealand',
       'urbana', 'portugal', 'russian federation', 'finland',
       'netherland', 'greece', 'turkey', 'macau', 'singapore', 'spain',
       'denmark', 'japan', 'hongkong', 'saudi arabia', 'mauritius',
       'scotland'], dtype=object)