<a href="https://colab.research.google.com/github/parvvaresh/My-note-Books/blob/main/Email%20Spam%20with%20MultinomialNB/Email_spam_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
#impoer library
import numpy as np 
import pandas as pd 
import nltk
from nltk.corpus import stopwords
import string
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report,confusion_matrix, accuracy_score
from sklearn.metrics import classification_report,confusion_matrix, accuracy_score

In [33]:
#load data

data = pd.read_csv("/content/spam.csv")

In [34]:
#normalaiz

data = data.drop(['Unnamed: 2', 'Unnamed: 3'	, 'Unnamed: 4'], axis=1)


data['text'] = data['v2']

data['spam'] = data['v1']

data = data.drop(['v1', 'v2'], axis=1)

In [35]:
#see data 5 frist row

data.head(5)

                                                text  spam
0  Go until jurong point, crazy.. Available only ...   ham
1                      Ok lar... Joking wif u oni...   ham
2  Free entry in 2 a wkly comp to win FA Cup fina...  spam
3  U dun say so early hor... U c already then say...   ham
4  Nah I don't think he goes to usf, he lives aro...   ham

In [45]:
#Print the shape (Get the number of rows and cols)
row_1, col_1 = data.shape[0] , data.shape[1]
print(f"number of rows : {row_1} // number of columns : {col_1}")

number of rows : 5169 // number of columns : 2

In [42]:
#Get the column names

columns = data.columns

count = 1
print("name of columns")
for column in columns:
  print(f"        {count} ---> {column}")
  count += 1

name of columns
        1 ---> text
        2 ---> spam

In [43]:
#Checking for duplicates and removing them
data.drop_duplicates(inplace = True)

In [48]:
#Show the new shape (number of rows & columns)
row_2, col_2 = data.shape[0] , data.shape[1]
print(f"number of rows : {row_2} // number of columns : {col_2}")
#------------------------------------------------------------------------------
print(f"             number of rows who deeted : {row_1 - row_2}")

number of rows : 5169 // number of columns : 2
             number of rows who deeted : 0

In [49]:
#Show the number of missing (NAN, NaN, na) data for each column

print(data.isnull().sum())

text    0
spam    0
dtype: int64

In [50]:
#Download the stop words. Stop words in natural language processing, are useless words (data).
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [56]:
#Create a function to clean the text and return the tokens. 
#The cleaning of the text can be done by first removing punctuations and then removing the useless words also known as stop words.

#Tokenization (a list of tokens), will be used as the analyzer
#1.Punctuations are [!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~]
#2.Stop words in natural language processing, are useless words (data).

def process_text(text):
  #step-1
  nopunc = [char for char in text if char not in string.punctuation]
  nopunc = "".join(nopunc)
  #step-2
  clean_word = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

  return clean_word

In [57]:
#Show the Tokenization (a list of tokens )

data['text'].head(5).apply(process_text)

0    [Go, jurong, point, crazy, Available, bugis, n...
1                       [Ok, lar, Joking, wif, u, oni]
2    [Free, entry, 2, wkly, comp, win, FA, Cup, fin...
3        [U, dun, say, early, hor, U, c, already, say]
4    [Nah, dont, think, goes, usf, lives, around, t...
Name: text, dtype: object

In [61]:
#Convert the text into a matrix of token counts.
message_bow = CountVectorizer(analyzer = process_text).fit_transform(data['text'])

In [62]:
#Split data into 80% training & 20% testing data sets

X_train, X_test, y_train, y_test = train_test_split(message_bow, data['spam'], test_size = 0.2, random_state=0)

In [64]:
#fit model
classifier = MultinomialNB()
classifier.fit(X_train, y_train)

MultinomialNB()

In [65]:
#Print the predictions
print(classifier.predict(X_train))

['ham' 'ham' 'ham' ... 'ham' 'ham' 'ham']

In [66]:
#Print the actual values
print(y_train.values)

['ham' 'ham' 'ham' ... 'ham' 'ham' 'ham']

In [72]:
#predict model
y_pred = classifier.predict(X_test)

In [77]:
#score of this model

def score(test,pred, size):
  count_value_count = (test == pred).sum()

  return (count_value_count / size) * 100

print(f"This model guessed {score(y_test, y_pred, y_test.shape[0])} % value correctly")

This model guessed 95.55125725338492 % value correctly